# Matching-product-names-to-scraped-data

## Problem Description

I need to match my list of products with a list of product names and corresponding prices scraped from an ecommerce website. I need a system that I can implement either in Excel or Python preferably.

I'm open to scraping additional data from the ecommerce site if it will help matching but the preferable solution would use only the names.

Example:

Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (Up To 95Mb/S Read)Memory Card

Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb Sdsdxpa 064G

Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk Sdsdxxg 064G X46)95 90Mb/S Read Write Speed Video Speed C10 U3 V30

should match 
SANDISK SDC CLASS 10 EXTREME PRO 95MB/S SERIES 64GB

but not 
SANDISK SDC CLASS 10 EXTREME PRO UHS-II 275MB/S SERIES 64GB

## Solution

#### 1. Form a dataframe using the first group of product names:

In [1]:
from fuzzywuzzy import fuzz
import pandas as pd
from numpy import triu, ones
import numpy as np

c:\users\ycivelek\appdata\local\programs\python\python36-32\lib\site-packages\fuzzywuzzy\fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

'\nt1 = "Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (Up To 95Mb/S Read)Memory Card"\nt2 = "Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb Sdsdxpa 064G"\nt3 = "Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk Sdsdxxg 064G X46)95 90Mb/S Read Write Speed Video Speed C10 U3 V30"\n\ntg1 = "SANDISK SDC CLASS 10 EXTREME PRO 95MB/S SERIES 64GB"\ntg2 = "SANDISK SDC CLASS 10 EXTREME PRO UHS-II 275MB/S SERIES 64GB"\n\n'

In [75]:
with open("product_list2.csv", "r") as fp:
    data_tgt = fp.readlines()
    
df = pd.read_csv("scraped list.csv")

list_src = df['product-name'].values.tolist()[:50]
list_tgt = [x.replace('"',"") for x in list(data_tgt)]

print(len(list_src))
print(len(list_tgt))


t1 = "Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (Up To 95Mb/S Read)Memory Card"
t2 = "Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb Sdsdxpa 064G"
t3 = "Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk Sdsdxxg 064G X46)95 90Mb/S Read Write Speed Video Speed C10 U3 V30"

tg1 = "SANDISK SDC CLASS 10 EXTREME PRO 95MB/S SERIES 64GB"
tg2 = "SANDISK SDC CLASS 10 EXTREME PRO UHS-II 275MB/S SERIES 64GB"

#list_src = [t1,t2,t3]
#list_tgt = [tg1,tg2]

50
94

In [76]:
s1 = pd.Series(list_src, index=range(len(list_src)))

In [77]:
dfs = pd.DataFrame([s1.values.tolist()] * s1.shape[0], index=s1.index, columns=s1.index)
dfs = dfs.applymap(lambda x: list([x]))

In [78]:
dfd = dfs + dfs.T
dfd = dfd.mask(triu(ones(dfd.shape)).astype(bool))
dfd.head(10)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,"[Transcend Usb 3.0 Multi Card Reader (White), ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,"[Transcend Usb 3.0 Multi Card Reader (White), ...","[Transcend Usb Type C Otg Multi Card Reader, 2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,"[Transcend Usb 3.0 Multi Card Reader (White), ...","[Transcend Usb Type C Otg Multi Card Reader, T...",[2 In 1 Multi Function Usb2.0 Otg Card Reader ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,"[Transcend Usb 3.0 Multi Card Reader (White), ...","[Transcend Usb Type C Otg Multi Card Reader, S...",[2 In 1 Multi Function Usb2.0 Otg Card Reader ...,[Transcend Usb 3.0 Sd And Microsd Card Reader ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,"[Transcend Usb 3.0 Multi Card Reader (White), ...","[Transcend Usb Type C Otg Multi Card Reader, S...",[2 In 1 Multi Function Usb2.0 Otg Card Reader ...,[Transcend Usb 3.0 Sd And Microsd Card Reader ...,[Samsung Evo Plus Micro Sdxc Class 10 Uhs 1 64...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,"[Transcend Usb 3.0 Multi Card Reader (White), ...","[Transcend Usb Type C Otg Multi Card Reader, S...",[2 In 1 Multi Function Usb2.0 Otg Card Reader ...,[Transcend Usb 3.0 Sd And Microsd Card Reader ...,[Samsung Evo Plus Micro Sdxc Class 10 Uhs 1 64...,[Samsung Evo Plus Micro Sdhc Ush 1 U3 64Gb Cla...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,"[Transcend Usb 3.0 Multi Card Reader (White), ...","[Transcend Usb Type C Otg Multi Card Reader, S...",[2 In 1 Multi Function Usb2.0 Otg Card Reader ...,[Transcend Usb 3.0 Sd And Microsd Card Reader ...,[Samsung Evo Plus Micro Sdxc Class 10 Uhs 1 64...,[Samsung Evo Plus Micro Sdhc Ush 1 U3 64Gb Cla...,[Samsung 2017 Evo Plus Micro Sd Tf Memory Card...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,[Sandisk Ultra 32Gb Sdhc Uhs I U1 (Up To 80Mb/...,"[Transcend Usb 3.0 Multi Card Reader (White), ...","[Transcend Usb Type C Otg Multi Card Reader, T...",[2 In 1 Multi Function Usb2.0 Otg Card Reader ...,[Transcend Usb 3.0 Sd And Microsd Card Reader ...,[Samsung Evo Plus Micro Sdxc Class 10 Uhs 1 64...,[Samsung Evo Plus Micro Sdhc Ush 1 U3 64Gb Cla...,[Samsung 2017 Evo Plus Micro Sd Tf Memory Card...,[Samsung 128Gb Evo Plus Microsd Class 10 W Ada...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2. Compute the similarity among product names in the first group using fuzzywuzzy:

In [79]:
def dist(ss):
    if type(ss) == list:
        return fuzz.partial_ratio(ss[0], ss[1])  

dfg = dfd.applymap(dist)
dfg.head(10)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,36.0,76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,29.0,56.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,35.0,72.0,69.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,43.0,37.0,39.0,19.0,27.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,44.0,32.0,33.0,30.0,37.0,62.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7,44.0,32.0,35.0,18.0,36.0,60.0,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
8,31.0,34.0,20.0,30.0,44.0,64.0,54.0,60.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
9,43.0,51.0,45.0,41.0,65.0,34.0,32.0,32.0,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

#### 3. Group similar objects (which are assumed to be the same product)

In [84]:
grouplist = []
for i, row in dfd[dfg > 70].iterrows():
    for r in row.values.tolist():
        if type(r) == list:
            grouplist.append(r)

In [85]:
def merge(lsts):
    sets = [set(lst) for lst in lsts if lst]
    merged = 1
    while merged:
        merged = 0
        results = []
        while sets:
            common, rest = sets[0], sets[1:]
            sets = []
            for x in rest:
                if x.isdisjoint(common):
                    sets.append(x)
                else:
                    merged = 1
                    common |= x
            results.append(common)
        sets = results
    return sets

In [86]:
grouplist = merge(grouplist)

In [87]:
grouplist

[{'Transcend Usb 3.0 Multi Card Reader (White)',
  'Transcend Usb 3.0 Sd And Microsd Card Reader (White)',
  'Transcend Usb Type C Otg Multi Card Reader'},
 {'Sandisk Ultra 16Gb Class 10 Sd 80Mb/S',
  'Sandisk Ultra 16Gb Sdhc Card Class 10 30Mb/S'},
 {'Original Sandisk Ultra Microsd 32Gb 48Mb/S   Singapore Seller  Ready Stock',
  'Original Sandisk Ultra Microsd 64Gb 48Mb/S   Singapore Seller  Ready Stock',
  'Sandisk Extreme Pro 128Gb Class 10 Sd 300Mb/S',
  'Sandisk Microsd Extreme Pro Class 10 64Gb',
  'Sandisk Ultra 128Gb Microsdxc Uhs I Class 10 Card 80Mb/S With Sdadapter',
  'Sandisk Ultra Microsdxc 64Gb',
  'Sandisk Ultra Microsdxc Class 10 64Gb Sdsqunc 064G Gn6Ma 80Mb/S'},
 {'Sandisk Extreme Pro Sd Uhs Ii Card Reader/Writer',
  'Sandisk Extreme Pro Sd Uhs Ii Card Usb C Reader/Writer',
  'Sandisk Extreme Pro Sdxc 256Gb 95Mb/S',
  'Sandisk Extreme Pro Sdxc Uhs I 256Gb Card',
  'Sandisk Extreme Sdhc Uhs I 32Gb Card'},
 {'2 In 1 Multi Function Usb2.0 Otg Card Reader Tf/Sd Card Readeradapter   Intl'},
 {'Kingston Microsdhc 32Gb Uhs I U3 90R/80W Memory Card',
  'Kingston Microsdxc 64Gb Uhs I U3 90R/80W Memory Card'}]

#### 4. Form the dataframe with similar above to compute the similarity between all the product names in the first and second group

In [58]:
s1 = pd.Series(list_src, index=range(len(list_src)))
s2 = pd.Series(list_tgt, index=range(len(list_tgt)))

In [59]:
dfs1 = pd.DataFrame([s1.values.tolist()] * s2.shape[0], index=range(s2.shape[0]), columns=s1.index)
dfs1 = dfs1.applymap(lambda x: list([x]))
dfs1

,0,1,2
0,[Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (U...,[Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb S...,[Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk ...
1,[Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (U...,[Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb S...,[Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk ...

In [60]:
dfs2 = pd.DataFrame([s2.values.tolist()] * s1.shape[0], index=range(s1.shape[0]), columns=s2.index)
dfs2 = dfs2.applymap(lambda x: list([x]))
dfs2.T

,0,1,2
0,[SANDISK SDC CLASS 10 EXTREME PRO 95MB/S SERIE...,[SANDISK SDC CLASS 10 EXTREME PRO 95MB/S SERIE...,[SANDISK SDC CLASS 10 EXTREME PRO 95MB/S SERIE...
1,[SANDISK SDC CLASS 10 EXTREME PRO UHS-II 275MB...,[SANDISK SDC CLASS 10 EXTREME PRO UHS-II 275MB...,[SANDISK SDC CLASS 10 EXTREME PRO UHS-II 275MB...

In [61]:
dfd2 = dfs1 + dfs2.T
dfd2.index = range(dfd2.shape[0])

In [62]:
dfd2.head()

,0,1,2
0,[Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (U...,[Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb S...,[Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk ...
1,[Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (U...,[Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb S...,[Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk ...

#### 5.  compute the similarity between all the product names in the first and second group

In [63]:
dfg2 = dfd2.applymap(dist)
dfg2

    0   1   2
0  32  24  20
1  15  23  17

In [70]:
dfg2.max()

0    32
1    24
2    20
dtype: int64

#### 6. Find the strongest similarity between the elements in the grouplist and the elements in the second group and match the product names

In [71]:
vert = dfd2[dfg2 == dfg2.max().max()]

In [72]:
vert

                                                   0    1    2
0  [Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (U...  NaN  NaN
1                                                NaN  NaN  NaN

In [175]:
vert.iloc[0,:][vert.iloc[0,:].notnull()]

0    [Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (U...
1    [Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb S...
2    [Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk ...
Name: 0, dtype: object

In [73]:
candidates = {}
for i, row in vert.iterrows():
    for r in row[row.notnull()]:
        candidates.setdefault(r[1], []).append(r[0])
candidates

{'SANDISK SDC CLASS 10 EXTREME PRO 95MB/S SERIES 64GB': ['Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (Up To 95Mb/S Read)Memory Card']}

In [182]:
grouplist[0]

{'Sandisk Extreme Pro 64Gb Sdxc Uhs I U3 V30 (Up To 95Mb/S Read)Memory Card',
 'Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk Sdsdxxg 064G X46)95 90Mb/S Read Write Speed Video Speed C10 U3 V30',
 'Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb Sdsdxpa 064G'}

In [74]:
import operator

matched = {}
for key, val in candidates.items():
    d = {}
    for i, group in enumerate(grouplist):
        d.update({i: len(group.intersection(val))})
    g = sorted(d.items(), key=operator.itemgetter(1), reverse=True)[0][0]
    matched.update({key:grouplist[g]})
    
matched

{'SANDISK SDC CLASS 10 EXTREME PRO 95MB/S SERIES 64GB': {'Sandisk Extreme Pro Sd Uhs I 64Gb Card (Sdsk Sdsdxxg 064G X46)95 90Mb/S Read Write Speed Video Speed C10 U3 V30',
  'Sandisk Sd Extreme Pro Uhs U1 Class 10 64Gb Sdsdxpa 064G'}}